version: "3.8"
services:
  keycloak:
    platform: linux/amd64 # remove if on x86 architecture
    image: quay.io/keycloak/keycloak:26.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"